/* Google Font Link */
@font-face {
  font-family: "official";
  src: url("../official/OfficialBook.ttf");
}

.home-section {
  position: absolute;
  font-family: "official";
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: flex-end;
  text-align: justify;
  letter-spacing: 0.05em;
  color: #000000;
}

.home-section-1 {
  position: absolute;
  font-family: "official";
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: flex-end;
  text-align: justify;
  letter-spacing: 0.05em;
  color: #000000;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #fff;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.sidebar .profile {
  height: 75px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .profile .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .profile .logo_name {
  color: #b1403a;
  background-color: #fff;
  font-size: 19px;
  font-weight: 550;
  opacity: 0;
  transition: all 0.5s ease;
  margin-left: 10px;
  margin-top: 0.4cm;
  font-family: "official";
  font-style: bold;
}
.sidebar.open .profile .icon,
.sidebar.open .profile .logo_name {
  opacity: 1;
}
.sidebar .profile #btn {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  color: #fff;
  text-shadow: 0 5px 10px #b1403a;
}

.sidebar.open .profile #btn {
  text-align: right;
  color: #b1403a;
  margin-left: 100px;
}
.sidebar i {
  color: #b1403a;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #b1403a;
  box-shadow: 0 5px 10px #fff;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 19px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  font-family: "official";
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 19px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #8f423e;
  font-family: "Official";
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 20px;
  background: rgb(218, 177, 177);
  color: #ffffff;
}
.sidebar.open .bx-search:hover {
  background: #fff;
  color: #b1403a;
}
.sidebar .bx-search:hover {
  background: #b1403a;
  color: #fff;
}

input #placeholder {
  color: #fff;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #fff;
}
.sidebar li a:hover {
  background-color: #b1403a;
}

.sidebar li a .links_name {
  color: #b1403a;
  font-size: 22px;
  font-weight: 500;
  font-family: "official";
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar li a .active .links_name {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  font-family: "official";
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
  color: #b1403a;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #fff;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.logo {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #fff;
  transition: all 0.5s ease;
  overflow: hidden;
}
.tombol {
  flex-direction: column;
  max-width: 100%;
  flex-wrap: wrap;
}
.sidebar.open li.logo {
  width: 250px;
}
.sidebar li .logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.logo .name,
.sidebar li.logo {
  font-size: 15px;
  font-weight: 400;
  color: #b1403a;
  white-space: nowrap;
}
.sidebar li.logo {
  font-size: 12px;
}
.sidebar .logo #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #fff;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .logo #log_out {
  width: 50px;
  background: none;
}
body {
  height: 100%;
  background: url("../src/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.home-section {
  /* position: relative; */
  /* background: url("C:/Users/HP/Documents/Semester7/MPPL/Projek/src/background.png"); */
  /* height: 100%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.shadow {
  height: 14.5cm;
}

.home-section-1 {
  /* position: relative; */
  /* height: 100%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 78px;
  top: 220px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section-1 {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section-1 .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.shadow {
  height: 14.5cm;
}

.logo .logo-details img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 30px;
  width: 50px;
}

.sidebar.open .logo-details img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 60px;
  width: 100px;
}

.text-center h3 {
  font-family: "official";
  font-weight: 800;
  vertical-align: Bottom;
  color: #b1403a;
  opacity: 50%;
}

.teks:-webkit-input-placeholder {
  color: white;
}

.btn-custom {
  color: #b1403a;
  background-color: #fff;
  display: inline-block;
  border-color: #000000;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* margin-top: 1.5cm; */
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
}

.next {
  color: #b1403a;
}

.btn-custom:hover,
  /* .next:hover, */
  .open .dropdown-toggle.btn-custom {
  color: #ffffff;
  background: #72130e;
}

.next:hover
  /* .next:hover, */ {
  color: #ffffff;
  background: #72130e;
}

.sidebar li a.active {
  background-color: #b1403a;
}
.sidebar li a.active:hover {
  background-color: #da6c68;
}
.active i,
.sidebar.open li .active .links_name {
  color: #fff;
}

h5 {
  font-family: "Official";
  font-style: "Regular";
  font-size: 30px;
  line-height: 100%;
  text-align: left;
  letter-spacing: 5%;
  color: rgb(0, 0, 0);
}

.btn-customa {
  margin-right: auto;
  display: block;
  background-color: #881913;
  border-radius: 100px;
  height: 1cm;
  width: 1cm;
  margin-top: 0.35cm;
}
h4 {
  font-family: "Official";
  font-style: "Regular";
  font-size: 32px;
  line-height: 100%;
  align-items: left;
  vertical-align: Bottom;
  letter-spacing: 5%;
  color: #000000;
  margin-top: 1cm;
  font-weight: 600;
}
